# Configuración de la aplicación
APP_NAME=Milla99-Dev
APP_VERSION=1.1.0
DEBUG=True

# Configuración de la base de datos
DATABASE_URL=sqlite:///db.sqlite3

# Configuración CORS
CORS_ORIGINS=["http://localhost:3000"]
CORS_CREDENTIALS=True
CORS_METHODS=["GET", "POST", "PUT", "DELETE"]
CORS_HEADERS=["*"]